/* #region **** Variables de thème  */
:root {
  --bg: #0a0f1f;
  --bg-dim: #050914;
  --panel: rgba(10, 20, 40, 0.85);
  --neon: #48c7ff;
  --neon-soft: #8ee7ff;
  --accent: #9d7cff;
  --danger: #ff5e7a;
  --text: #cfe8ff;
  --shadow: rgba(72, 199, 255, 0.3);
  --map: url("/images/map00-tileset.png");
}
/* #endregion **** Variables de thème  */
