<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
    </style>
    <title>PN : Discord in the Office</title>
    <!-- Sélecteur de thème -->
    <link rel="stylesheet" href="assets/static/style.css" />
  </head>
  <body>
    <header>
      <h1 id="forum-title">
        <img src="assets/images/favicon.ico" alt="Logo du forum" />
        <span id="forum-title-long">Project Nightmare&nbsp;:</span>
        &nbsp;Discord in&nbsp;the&nbsp;office
      </h1>

      <div id="header-username"></div>

      <div class="header-buttons">
        <button type="button" id="go-home">
          <img src="assets/images/home.svg" />
          <span>Retour à l'accueil</span>
        </button>
        <!-- Le bouton inscription / connexion devient "déconnexion" si l'utilisateur est en ligne -->
        <button type="button" id="log-in">
          <img src="assets/images/log-in.svg" />
          <span id="log-in-text">
            Inscription /<br />
            Connexion
          </span>
        </button>
        <!-- Si connecté -->
        <button type="button" id="display-profile">
          <img src="assets/images/user.svg" />
          <span>Ouvrir mon profil</span>
        </button>
        <button type="button" id="display-mailbox">
          <img src="assets/images/message-circle.svg" />
          <span>Messagerie privée</span>
        </button>
        <button type="button" id="display-notifications">
          <img src="assets/images/bell.svg" />
          <span>Afficher les notifications</span>
        </button>
      </div>
      <label class="switch">
        <input type="checkbox" id="theme-selector" />
        <span class="slider round"></span>
      </label>
    </header>

    <div id="online-members-list">
      <button id="online-members-btn"><</button>
      <div id="members-list" class="isHidden">
        <div id="online-user-cards"></div>
      </div>
    </div>

    <!-- Le reste de la page se créera ici via javascript -->
    <script type="module" src="/assets/js/init.js"></script>
  </body>
</html>
