<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
    </style>
    <title>PN : Discord in the Office</title>
  </head>
  <body>
    <header>
      <img src="./assets/images/favicon.ico" alt="" /> Project Nightmare :
      Discord in the office

      <!-- Le bouton inscription / connexion devient "déconnexion" si l'utilisateur est en ligne -->
      <button type="button">Inscription / Connexion || Déconnexion</button>
      <!-- Si connecté -->
      <button type="button">Voir mon profil</button>
      <button type="button">
        Afficher / Masquer les utilisateurs en ligne
      </button>
      <button type="button">Afficher / Masquer les notifications</button>
      <button type="button">Favoris</button>
    </header>
  </body>
</html>
