/* #region **** Gestion du thème  */
:root {
  --bg: #0a0f1f;
  --bg-dim: #050914;
  --bg-down: #000000;
  --panel: rgba(10, 20, 40, 0.85);
  --neon: #48c7ff;
  --neon-soft: #8ee7ff;
  --accent: #9d7cff;
  --danger: #ff5e7a;
  --text: #cfe8ff;
  --shadow: rgba(72, 199, 255, 0.3);
  --button: rgba(10, 20, 40, 0.85);

  --popup-transparent: #9d7cff4f;
  --fond-categ: rgba(12, 35, 77, 0.3);
  --header-font: "Press Start 2P", monospace;
}

[data-theme="light"] {
  --bg: #73acd1;
  --bg-dim: #6abdcc;
  --bg-down: #3765a0;
  --panel: rgba(162, 202, 218, 0.959);
  --neon: #0a6085;
  --neon-soft: #b7e6f3;
  --accent: #652774;
  --danger: #ff5e7a;
  --text: #112c44;
  --shadow: rgba(200, 230, 243, 0.3);
  --button: rgba(122, 195, 218, 0.85);

  --popup-transparent: #6527747a;
  --fond-categ: rgba(132, 193, 219, 0.3);
  --header-font: "Press Start 2P", monospace;
}

/* Bouton sélecteur */
.switch {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--bg-down);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-dim);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* #endregion  */

/* #region ***** Généralités */
html,
body {
  height: 100%;
  background: radial-gradient(
    1200px 600px at 50% 20%,
    var(--bg) 0%,
    var(--bg-dim) 60%,
    var(--bg-down) 100%
  );
  background-attachment: fixed;
  color: var(--text);
  font-family: var(--header-font);
  transition: all 0.3s ease;
}

body.members-list-visible {
  margin-right: 260px;
  transition: margin-right 0.3s ease;
}
body.members-list-visible #online-members-list {
  transform: translateX(0);
}

.is-hidden {
  display: none !important;
}

[data-theme="dark"] textarea,
[data-theme="dark"] input,
[data-theme="dark"] select {
  background-color: var(--bg-dim);
  border: 1px solid var(--popup-transparent) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--popup-transparent);
  font-style: italic;
}

input,
textarea,
select {
  color: var(--text);
}

/* Sélection de texte */
::selection {
  background-color: var(--accent);
  color: var(--bg);
}

::-moz-selection {
  background-color: var(--accent);
  color: var(--bg);
}

/* Barres de défilement */
::-webkit-scrollbar {
  height: 12px;
  width: 7px;
  background: var(--bg-dim);
  margin-right: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--neon);
  height: 30px;
}
::-webkit-scrollbar-corner {
  background: none;
}

/* #endregion */

/* #region ***** Header */
header {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px;
  padding: 10px 5%;
  border-bottom: 2px solid var(--neon);
  box-shadow: 0 0 12px var(--neon-soft);
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

/* Section ----- Titre du forum */
#forum-title {
  width: 350px;
  font-size: inherit;
  color: inherit;
  font-weight: normal;
  margin: 0px;
}

#forum-title-long {
  display: block;
}
#forum-title-short {
  display: none;
}

#forum-title img {
  float: left;
  height: 48px;
  margin-right: 5px;
  image-rendering: pixelated;
}

/* Boutons */
.header-buttons {
  margin-right: 100px;
}

#member-buttons {
  display: contents;
}

.header-buttons button,
.edit-content,
.editor-button,
.go-back,
#dm-send-btn {
  background-color: var(--bg-down);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0px 5px;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--accent);
}

[data-theme="light"] .header-buttons button,
[data-theme="light"].edit-content,
[data-theme="light"].go-back,
[data-theme="light"]#dm-send-btn {
  background-color: var(--bg-dim);
}

.header-buttons button:hover,
.edit-content:hover,
.editor-button:hover,
.go-back:hover,
#dm-send-button:hover {
  box-shadow: 0 0 12px var(--neon-soft);
}

#header-username {
  white-space: nowrap;
}

[data-theme="dark"] button img,
[data-theme="dark"] .notif-icon img {
  filter: invert(100%);
}

.header-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.header-buttons button span,
.edit-content span,
.preview-reaction span,
.editor-button span,
.go-back span,
#dm-send-btn span,
.notif-icon span {
  min-width: 2px;
  width: 2px;
  overflow: hidden;
  z-index: 5;
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 14px;
  padding: 7px;
  border-radius: 10px;
  background: var(--accent);
  color: var(--bg-dim);
  max-height: 1px;
  --webkit-line-clamp: 2;
  font-family: var(--header-font);
  opacity: 0;
}

.post-buttons button span {
  left: 0px;
}
.post-buttons button:hover span {
  left: -90px;
}

.header-buttons button:hover span,
.edit-content:hover span,
.preview-reaction:hover span,
.editor-button:hover span,
.go-back:hover span,
#dm-send-btn:hover span,
.notif-icon:hover span {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-width: 90px;
  width: fit-content;
  max-height: 30px;
}

#display-notifications:hover span,
#log-in:hover span,
#display-online-users:hover span,
#MDswitch:hover span,
.go-back:hover span {
  min-width: 120px;
}

#log-in-text {
  white-space: nowrap;
}
/* #endregion */

/* #region ***** Page d'accueil */
#front-page,
#profile-page,
#dm-page,
#category-topics,
#topic-posts,
#error-page {
  margin-top: 100px !important;
  padding-bottom: 15px;
}

/* Intro de la page */
.front-page-header {
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: justify;
}

.front-page-header img {
  width: 100%;
  image-rendering: pixelated;
}

/* Bouton de choix d'affichage */
#front-page-buttons {
  margin: auto;
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
  position: sticky;
  top: 100px;
}

#front-page-buttons button,
#profile-buttons button,
.new-topic-button,
.editor-action,
.new-message-button {
  font-size: 16px;
  padding: 14px 24px;
  background: var(--button);
  border: 2px solid var(--neon);
  box-shadow: 0 0 8px var(--shadow);
  color: var(--text);
  border-radius: 8px;
  box-shadow: 0 0 8px var(--shadow);
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  margin-bottom: 16px;
  width: 100%;
}

#front-page-buttons button:hover,
#profile-buttons button:hover,
#profile-buttons button.active,
.new-topic-button:hover,
.editor-action:hover,
.new-message-button:hover {
  border-color: var(--neon-soft);
  box-shadow: 0 0 12px var(--neon-soft);
}

#profile-buttons button.active {
  cursor: default;
}

/* #endregion */

/* #region ***** Affichage du feed et des catégories */
#categories,
#feed {
  padding-bottom: 15px;
}

.cat-bloc:hover,
.topic-bloc:hover {
  box-shadow: 0 0 12px var(--neon-soft);
}

/* Affichage en catégories */
.cat-bloc {
  width: 85%;
  max-width: 1200px;
  padding: 10px 0 30px 3%;
  margin: 60px auto 20px auto;
  border-radius: 15px;
  border: 2px solid var(--neon);
  background-color: var(--fond-categ);
}

.cat-bloc h3 {
  width: fit-content;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 5px;
  border-bottom: 1px dashed var(--neon-soft);
  cursor: pointer;
}

.cat-content {
  display: flex;
  justify-content: space-between;
}

.cat-description {
  flex-shrink: 0;
  width: 60%;
  text-align: justify;
  margin-right: 1%;
}

.cat-image {
  flex-shrink: 0;
  width: fit-content;
  margin-right: 1%;
  line-height: 108px;
}

.cat-lastpost {
  width: 24%;
  text-align: center;
  margin-top: -40px;
  border-left: 2px dashed var(--neon-soft);
  padding: 0 3%;
}

.cat-lastpost center {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 30px;
}

.last-post-title:hover {
  font-style: italic;
  cursor: pointer;
}

.last-post-date {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 15px;
  margin-right: -5px;
  text-align: right;
}

/* Affichage feed */
.feed-notopic,
.error-message {
  width: 85%;
  max-width: 1200px;
  padding: 16px;
  margin: 60px auto 12px auto;
  color: var(--text);
  background: rgba(5, 10, 20, 0.75);
  border: 2px solid var(--accent);
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.feed-notopic img,
.error-message img {
  position: absolute;
  right: -30px;
  top: -30px;
}

[data-theme="light"] .feed-notopic {
  background-color: var(--bg);
}

.feed-title {
  text-align: center;
  margin-top: 40px;
}

#feed hr {
  margin: 35px 10% 15px 10%;
}

.topic-bloc,
.profile-preview,
.post-bloc {
  width: 85%;
  max-width: 1200px;
  padding: 10px 3%;
  margin: 40px auto 20px auto;
  border-radius: 15px;
  border: 2px solid var(--neon);
  background-color: var(--fond-categ);
}
.topic-bloc h3 {
  width: fit-content;
  font-style: italic;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-bottom: 1px dashed var(--neon-soft);
  cursor: pointer;
}

.topic-lastpost {
  text-align: justify;
}

.topic-lastinfo {
  font-style: italic;
  font-size: 0.7em;
  margin-top: 10px;
  text-align: right;
  position: relative;
}

.topic-image,
.post-image {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  image-rendering: pixelated;
  position: absolute;
}

.reduced-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.reduced-avatar img {
  width: 100%; /* respecte le ratio naturel */
  height: auto; /* évite toute déformation */
  image-rendering: pixelated;

  /* Dézoom */
  transform: scale(0.9);
  transform-origin: top center;

  /* Positionnement */
  position: absolute;
  left: 50%;
  translate: -50% 0;

  /* Ajuste pour viser la tête */
  top: 0px;
}

.reduced-avatar:hover {
  cursor: pointer;
}

.post-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 180px;
}

.post-image {
  position: static;
  margin-right: -3px;
  flex-shrink: 0;
}

.post-left {
  width: 97%;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

.post-bloc.first-post {
  border-color: var(--accent);
  position: relative;
  padding-top: 10px;
}

.first-post .post-indic {
  background-color: var(--accent);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  font-size: 0.8em;
  color: var(--bg);
  width: fit-content;
  padding: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.post-date {
  font-style: italic;
  font-size: 0.7em;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--neon);
  width: 100%;
  max-width: 385px;
  min-width: fit-content;
  margin-bottom: 30px;
}

.post-message {
  padding-right: 15px;
  margin-bottom: 65px;
}

.first-post .post-date {
  margin-left: 100px;
  border-color: var(--accent);
  max-width: 300px;
}

.post-author {
  cursor: pointer;
  height: 70px;
  width: 160px;
  margin-left: -10px;
  display: flex;
  justify-content: space-between;
}

.post-profile {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: center;
  margin-left: -10px;
  width: 160px;
}

.post-buttons {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 5px;
}

.reaction-popup {
  display: flex;
  position: absolute;
  right: 60px;
  top: 10px;
  border: 2px solid var(--neon);
  border-radius: 15px;
  background-color: var(--bg-dim);
  padding: 10px;
}

.reaction-popup div {
  margin: 0px 5px;
}

.reaction-popup div:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

/* Wobble Horizontal */
@-webkit-keyframes react-image-bloc {
  16.65% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes react-image-bloc {
  16.65% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.react-image-bloc.active,
.reaction-bloc.active {
  border-radius: 10px;
  background-color: var(--popup-transparent);
}

.react-image-bloc {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.react-image-bloc:hover,
.react-image-bloc:focus,
.react-image-bloc:active {
  -webkit-animation-name: react-image-bloc;
  animation-name: react-image-bloc;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.post-buttons button {
  margin-bottom: 10px;
}

.preview-reactions {
  position: relative;
  padding-bottom: 55px;
}

.post-reactions {
  display: flex;
  width: 80%;
  text-align: left;
  position: absolute;
  bottom: 0px;
  line-height: 35px;
  font-size: 0.8em;
}

.post-reactions div,
.post-reactions div img {
  height: 30px;
}

.post-reactions div {
  background-color: var(--fond-categ);
  border-radius: 15px;
  border: 2px solid var(--neon-soft);
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}

.post-reactions div img {
  float: left;
  margin-right: 5px;
}

.preview-reactions .post-reactions div {
  width: 30px;
}

.post-right {
  padding-left: 3%;
  border-left: 1px dashed var(--neon-soft);
  width: 130px;
  flex-shrink: 0;
}

.topic-image {
  top: -60px;
  right: 40px;
}

.topic-image img,
.post-image img {
  width: 100%;
}

.last-post-author,
.topic-author {
  display: inline;
  cursor: pointer;
}

.on-topic,
.reaction-bloc {
  cursor: pointer;
}

.post-open {
  position: relative;
  text-align: right;
  top: 30px;
}

#category-topics h2,
#topic-posts h2,
#error-page h2 {
  text-align: center;
  font-size: 42px;
  color: var(--neon);
  text-shadow:
    0 0 5px var(--neon),
    0 0 15px var(--neon-soft);
  margin: 0;
}

.topic-open {
  text-indent: 30px;
  font-size: 0.7em;
  margin-top: -10px;
}

/* #endregion */

/* #region ***** Affichage du profil */
#profile-page {
  width: 80%;
  max-width: 900px;
  margin: auto;
  display: flex;
}

.profile-left {
  width: 65%;
  margin-right: 1%;
}

.profile-right {
  width: 20%;
  border: 2px solid var(--neon);
  background-color: var(--fond-categ);
  border-radius: 15px;
  padding: 10px 2%;
  padding-bottom: 0px;
}

.profile-details input {
  width: 90% !important;
}

.edit-content {
  float: right;
}

.go-back,
.edit-content {
  height: 38px;
  width: 40px;
  padding-top: 4px;
}

.go-back {
  position: relative;
  top: -5px;
}

.edit-content img,
#edit-avatar img,
.go-back img {
  width: 100%;
}

#edit-avatar {
  height: 30px;
  width: 32px;
  padding-top: 4px;
  position: relative;
  top: -15px;
  right: -15px;
}

.profile-details > span {
  display: block;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.profile-public,
.profile-private {
  margin: 20px 0px;
  line-height: 1.5em;
  font-size: 0.8em;
}

.profile-private p,
.profile-public p {
  margin-block-start: 0em;
}

.profile-private p span:first-child,
.profile-public p span:first-child {
  font-variant: small-caps;
  font-size: 1.2em;
}

#profile-email-span {
  display: block;
  width: 100%;
  overflow: auto;
  font-variant: normal;
  font-size: 1em;
}

#profile-email-span::-webkit-scrollbar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: transparent;
  height: 5px;
}

hr {
  border: 1px dashed var(--neon-soft);
  margin: 15px;
}

.profile-user-info {
  display: flex;
}

.profile-icon {
  margin-right: 15px;
  position: relative;
  width: 75px;
  flex-shrink: 0;
}

.online {
  background-color: #18a53b;
  border: 2px double #63c97c;
  display: block;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
}

.profile-basics {
  width: 100%;
}

.profile-basics h3 {
  line-height: 19px;
}

.profile-basics .profile-signup {
  display: block;
  padding-left: 15px;
}

#profile-messages {
  margin-top: 40px;
}

#profile-buttons {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#profile-buttons button {
  width: initial;
  padding: 15px;
}

.button-link {
  background: transparent;
  border: none;
  cursor: pointer;
}

.link-right {
  float: right;
  position: relative;
  z-index: 15;
  left: -10px;
  top: 2px;
}

.profile-preview h3 {
  margin-top: 0px;
}

.preview-topic h3 {
  text-align: center;
}

.preview-topic .topic-lastpost {
  font-size: 0.7em;
  margin-bottom: 20px;
}

.preview-message h3 {
  font-size: 0.7em;
  text-align: right;
}

.preview-message .button-link img {
  height: 17px;
}

#profile-messages:last-child .profile-preview,
#profile-messages:last-child .feed-notopic {
  margin-bottom: 0px;
}

.preview-reaction {
  position: relative;
  top: -10px;
}

#profile-display-posts {
  max-height: 400px;
  overflow: auto;
}

.profile-picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-picture-bloc {
  background: var(--fond-categ);
  border-radius: 15px;
  width: 130px;
  text-align: center;
  margin: 10px 5px;
  padding: 5px;
}

.profile-picture-bloc img {
  margin-top: 5px;
}

.profile-picture-bloc label {
  display: block;
  width: 96%;
  height: 96%;
  border-radius: 15px;
  padding: 2%;
}

.profile-picture-bloc input {
  display: none;
}

.profile-popup h3 {
  height: 50px;
  position: sticky;
  top: -15px;
  padding-top: 5px;
  border-radius: 15px;
  background: inherit;
}

.profile-picture-bloc input:checked + label {
  background: var(--popup-transparent);
}

.profile-popup textarea {
  display: block;
  width: 80%;
  margin: auto;
}
/* #endregion */

/* #region ***** Popups */
.popup-overlay,
.profile-popup-overlay {
  background: var(--popup-transparent);
  width: 80vw;
  height: 80vh;
  padding: 10vw;
  padding-top: 100px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.popup-content,
.profile-popup {
  width: 80%;
  max-width: 700px;
  max-height: 70vh;
  overflow: auto;
  margin: auto;
  position: relative;
  background: var(--bg);
  padding: 15px;
  border-bottom: 2px solid var(--accent);
  border-radius: 15px;
}

.profile-popup div {
  max-height: 70vh;
  overflow: auto;
}

.popup-content h2,
.profile-popup h3 {
  margin: auto;
  width: fit-content;
  font-family: var(--header-font);
  color: var(--neon);
}

.close-popup-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.close-popup-btn:hover {
  color: var(--accent);
}

.form-group {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
}

.form-group input,
.form-group select,
.profile-right input {
  width: 100%;
  max-width: 350px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--bg-down);
  margin-top: 5px;
}

.form-group input:focus,
.form-group select:focus,
.profile-right input:focus,
.post-editor input:focus,
.post-editor textarea:focus {
  border: 2px solid var(--neon);
  box-shadow: 0 0 12px var(--neon-soft);
}

.popup-content button,
.profile-popup-actions button {
  display: block;
  width: 200px;
  padding: 12px;
  margin: 20px auto;
  color: var(--text);
  background: var(--button);
  border: 2px solid var(--neon);
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
}

.popup-content button:hover,
.profile-popup-actions button:hover {
  border-color: var(--neon-soft);
  box-shadow: 0 0 12px var(--neon-soft);
}

.popup-content hr {
  width: 70%;
  margin: 40px auto;
  border-color: var(--accent);
}

.popup-content::-webkit-scrollbar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: transparent;
}
.popup-content::-webkit-scrollbar-thumb {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--accent);
}
::-webkit-scrollbar-corner {
  background: none;
}

/* #endregion */

/* #region ***** Éditeur de texte */
.new-topic-button,
.new-message-button {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

.editor-buttons,
.editor-actions,
.topic-actions {
  width: fit-content;
  display: flex;
  margin: 20px auto;
}

.editor-button {
  color: var(--text);
}

.post-editor {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  background: var(--bg);
  padding: 25px;
  border-bottom: 2px solid var(--accent);
  border-radius: 15px;
  box-shadow: 20px 14px 24px -2px var(--popup-transparent);
}

.post-editor label {
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.post-editor input,
.post-editor textarea {
  display: block;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--bg-down);
}

.post-editor textarea {
  min-height: 250px;
}

.editor-actions button,
.topic-actions button {
  margin: 10px;
}

#editor-preview {
  margin: auto;
}

#preview-zone {
  padding: 20px;
  background: var(--fond-categ);
}
/* Résultats BBcode */
u {
  text-decoration-color: var(--text);
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.strike {
  text-decoration: line-through;
}

/* #endregion */

/* #region ***** Responsive */

@media (max-width: 1133px) {
  #header-username {
    display: none;
  }

  .first-post .post-date {
    margin-left: 10px !important;
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  #forum-title img {
    height: 48px;
    margin-left: -10px;
  }
  .header-buttons {
    margin-right: 80px;
  }

  .post-author,
  .post-profile {
    width: 140px;
  }
}

@media (max-width: 780px), (orientation: portrait) {
  .popup-content {
    margin-top: 50px;
  }

  .post-date {
    width: 90%;
  }

  #forum-title-short {
    display: none;
  }
  #forum-title-long {
    display: block;
  }

  header {
    height: 110px;
    display: block;
  }

  #front-page,
  #profile-page,
  #topics-page,
  #topic-posts,
  #dm-page {
    margin-top: 140px !important;
  }

  #front-page-buttons {
    top: 150px;
  }

  #forum-title {
    width: auto;
    margin-bottom: 10px;
  }

  .header-buttons {
    width: fit-content;
    margin: auto;
  }

  .topic-lastinfo {
    margin-top: 60px;
  }

  .post-author {
    display: block;
  }

  .post-author,
  .post-profile {
    width: 80px;
    text-align: right !important;
  }

  .post-right {
    width: 80px;
    text-align: right !important;
  }

  .cat-content {
    display: block;
    position: relative;
  }

  .cat-content .cat-image {
    position: absolute;
    top: -130px;
    right: -30px;
    transform: scaleX(-1);
  }

  .cat-description,
  .cat-lastpost {
    width: initial;
  }

  .cat-lastpost {
    margin-top: 0px;
    border-left: none;
    border-top: 2px dashed var(--neon-soft);
    padding-top: 20px;
    margin-top: 10px;
    text-align: left;
  }

  .last-post-date {
    text-align: left;
  }

  .cat-lastpost center {
    margin-bottom: 10px;
  }
}

/* Conteneur du panneau */
#online-members-list {
  position: fixed;
  top: 90px;
  right: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform: translateX(95%);
  transition: transform 0.3s ease;
}

/* Le panneau (la liste) */
#members-list {
  flex: 1;
  background: var(--panel);
  color: var(--text);
  font-family: var(--header-font);
  border-top: 2px solid var(--neon);
  border-left: 2px solid var(--neon);
  box-shadow: 0 0 12px var(--neon-soft);

  padding: 1rem;
  overflow-y: auto;
}

/* Quand la liste est visible */
#members-list:not(.isHidden) {
  transform: translateX(0);
}

/* Le bouton : positionné PAR RAPPORT AU PANNEAU */
#online-members-btn {
  position: absolute;
  top: 0;
  left: -35px; /* largeur du bouton + petit décalage */
  background: var(--button);
  color: var(--text);
  padding: 0.5rem 0.75rem;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  z-index: 1001;
  border: 2px solid var(--accent);
}

.user-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  margin: 6px 0;
  background-color: var(--bg-down);
  border: 2px solid var(--neon);
  box-shadow: 0 0 12px var(--neon-soft);
  color: #eee;
  font-family: var(--header-font);
  transition: transform 0.2s ease;
}

.dm-conversation-item {
  width: 150px;
}

.user-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--neon);
}

.user-card .avatar {
  width: 32px;
  height: 32px;
  background-color: var(--bg);
  border-radius: 50%;
  box-shadow: 0 0 4px #0ff2;
}

.user-card .info {
  display: flex;
  flex-direction: column;
}

.user-card .username {
  font-weight: 600;
  font-size: 14px;
}

.user-card .status.online {
  font-size: 12px;
  color: #0f0;
  text-indent: 20px;
  display: block;
  line-height: 15px;
  padding-top: 2px;
}

.dm-conversation-item.user-card {
  box-shadow: none;
}

.user-card:hover,
.user-card.active {
  box-shadow: 0 0 12px var(--neon-soft);
}

#dm-empty {
  height: auto;
}

.dm-flex {
  display: flex;
}

.dm-messages {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 60vh;
  overflow: auto;
}

.dm-sidebar {
  width: 180px;
  flex-shrink: 0;
}

.dm-group {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  position: relative;
}

.dm-group.theirs {
  margin-left: 8%;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  background-color: var(--popup-transparent);
}

.dm-group.mine {
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  background-color: var(--fond-categ);
}

[data-theme="light"] .dm-message.mine {
  background-color: var(--bg-down) !important;
}

.dm-header {
  display: flex;
}

.theirs .dm-header {
  float: right;
  margin-bottom: 20px;
}

.dm-content {
  width: 100%;
  margin-top: 30px;
}

.dm-author {
  line-height: 32px;
  margin-left: 10px;
}

.dm-time {
  font-size: 0.6em;
  font-style: italic;
  display: block;
  /* float: right; */
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

#dm-page h3 {
  text-align: center;
  font-size: 42px;
  color: var(--neon);
  text-shadow:
    0 0 5px var(--neon),
    0 0 15px var(--neon-soft);
  margin: 0;
}

.dm-input {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background: var(--bg);
  border-radius: 15px;
  box-shadow: 0 0 8px var(--shadow);
}

.dm-input input {
  padding: 10px;
  width: 60%;
}

#dm-send-btn img {
  height: 26px;
  margin-top: 4px;
  margin-left: -2px;
}

/* #region ***** Notifications */
.notif-popup {
  position: fixed;
  top: 60px;
  right: 50px;
  width: 40%;
  min-width: 250px;
  max-width: 550px;
  background-color: var(--bg-dim);
  border: 2px solid var(--neon);
  border-radius: 10px;
  z-index: 10;
}

.notif-popup h4 {
  text-align: center;
  font-size: 1.2em;
  margin: 25px 0px 15px 0px;
  color: var(--neon);
  text-shadow:
    0 0 5px var(--neon),
    0 0 15px var(--neon-soft);
}

.notif-item {
  margin-top: 5px;
  padding: 10px;
  background-color: var(--fond-categ);
}

.notif-content {
  font-size: 0.8em;
}

.notif-new {
  background-color: var(--popup-transparent);
}

.notif-date {
  font-size: 0.5em;
  display: block;
  text-align: right;
  margin-bottom: 3px;
}

.notif-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.no-notif {
  text-align: center;
  padding-bottom: 5px;
}

.notif-icon {
  cursor: pointer;
  position: relative;
}

.notif-sender,
.notif-topic {
  cursor: pointer;
}

.notif-icon span {
  max-height: 2px;
  left: 50%;
  translate: -50% 0;
  top: 20px;
  text-align: center;
}

#notif-counter {
  background: var(--danger);
  padding: 5px;
  border-radius: 100%;
  font-size: 0.6em;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -5px;
  right: -5px;
}

/* #endregion */

.error-message {
  width: 50%;
}

.error-message img {
  transform: scaleX(-1);
}

.error-if {
  margin-top: 40px;
  text-align: center;
  font-style: italic;
}
